body,
p {
  margin: 0;
}
* {
  box-sizing: border-box;
}

.appContainer {
  height: 100vh;
}

.navBar {
  height: 12.5%;
  background-color: blueviolet;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.btnHolder {
  background-color: slategray;
  text-align: center;
  width: 12.5%;
  border: solid 1px black;
}

.underBtn {
  pointer-events: none;
}

.dsLogoHolder {
  display: flex;
  justify-content: center;
}

.dsLogo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 8px;
  border: solid 2px white;
  align-self: center;
}

.infoHolder {
  background-color: pink;
  padding: 5px;
}

.infoWarning p {
  width: 80%;
  margin: 0 auto 0 auto;
  text-align: center;
  background-color: pink;
}

.closeInfoWarning {
  cursor: pointer;
  float: right;
  margin-right: 5px;
  font-size: 20px;
}

.patternContainerHolder {
  height: 87.5%;
  display: flex;
  background-color: slategrey;
}

.patternContainerLeft {
  width: 12.5%;
  background-color: gainsboro;
  height: 95%;
}

.patternContainerRight {
  width:87.5%
}

.patternContainerRightDrums,
.patternContainerRightBass,
.patternContainerRightRiff {
  width: 100%;
  /* background-color: bisque;*/
  height: 95%;
}

.patternContainerRightDrums {
  /* display: block; */
}
.patternContainerRightBass {
  /* display: none; */
}

.patternContainerRightRiff {
  /* display: none; */
}

.bar1Label,
.bar2Label {
  height: 50%;
  display: flex;
  justify-content: center;
  border: solid 1px black;
}

.barLabelText {
  align-self: center;
  font-size: 30px;
}

.bar1Holder,
.bar2Holder {
  height: 50%;
}

.rowHolder {
  background-color: slategray;
  border: solid 1px black;
  height: 33.33%;
  display: flex;
  justify-content: center;
}
.stepBtn,
.bassStep,
.riffStep {
  height: 90%;
  width: 6.25%;
  align-self: center;
  border: solid 1px black;
}

.hhStep {
  background-color: #ffb7af;
}
.hhStep.even {
  background-color: darksalmon;
}

.snStep {
  background-color: yellow;
}
.snStep.even {
  background-color: orange;
}

.kkStep {
  background-color: darkviolet;
}
.kkStep.even {
  background-color: rebeccapurple;
}

.bassStep {
  background-color: rgb(60, 100, 100);
}

.bassStep.even {
  background-color: rgb(43, 65, 65);
}

.riffStep {
  background-color: rgb(114, 81, 192);
}

.riffStep.even {
  background-color: rgb(70, 70, 140);
}

#appFooter {
  height: 10%;
  background-color: blue;
}

.activeText {
  color: white;
  margin: 0;
  pointer-events: none;
}

.activePanel {
  background-color: green;
}

.btnHolderDefault {
  background-color: green;
}

#tempoSelect,
#loopSelect {
  text-align: center;
  background-color: black;
  color: white;
}

#tempoSelectHolder {
  margin: 0;
}

/*----------------------------media queries---------------------------------*/
@media screen and (min-width: 1000px) {
  .dsLogo {
    width: 50px;
    height: 50px;
    font-size: 12px;
  }

  .stepBtn {
    height: 80%;
  }
}

@media screen and (max-width: 570px) {
  #navBar {
    height: 14.5%;
  }

  #patternContainerLeft,
  #patternContainerRightDrums,
  #patternContainerRightBass,
  #patternContainerRightRiff {
    height: 100%;
  }
}